<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Активный отдых</title>
    <style>
        body {
            font-family: 'Courier New', monospace;
            margin: 0;
            padding: 0;
            background-color: #f8f8f7;
            color: #000;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            flex-direction: column;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
            text-align: justify;
        }
        img {
            margin-top: 10px;
            margin-bottom:10px;
            width: 100%;
            height: auto;
            max-width: 100%;
            border-radius: 5px;
        }
        .feature-btn {
            width: 150px;
            height: 50px;
            margin: 10px;
            border-radius: 10px;
            background: #F8F8F7;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #000;
            font-size: 14px;
            font-weight: 400;
            font-family: 'Courier New', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Kazan_Kayak</h1>
        <div class="text-container">
            <div class="image-container">
                <img src='/web/static/activity_kayak.jpeg' alt="Фото Казани">
            </div>
             - это новое место для любителей активного отдыха в центре Казани. Надоели сапы, катамараны? Наше решение - каяки. Это устойчивые плав.средства на которых вы можете бороздить просторы Волги или отправиться в сторону Казанки, чтобы увидеть центр с самого необычного ракурса.



            Можно взять в прокат каяки самостоятельно, а можно отправиться с группой и гидом утром или вечером, на ближайшие острова и получить еще больше впечатлений.



            Для посетителей есть парковка и зона для переодевания.



            Прогулки:
            - По будням 7:00-8:30 "Магия утра", 900₽/чел
            - По будням 18:00-20:00 "Закатные острова", 1100₽/чел
            - В выходные 10:30-12:00 "Ближние острова", 1300₽/чел
            - В выходные 13:30-15:30 "Остров Малибу + самые большие качели Казани", 1400₽/чел
            - В выходные 17:00-20:00 "Монтекристо" (старинное здание водозабора) 1600₽/чел



            Прокат каяков:
            - Ежедневно с 9:00-21:00, 600₽/чел за час.

            - Акция: Счастливая среда. В среду скидка на прогулки 20%.
            - Акция: По будням с 12:00-15:00 на прокат каяков скидка 50% на второй час.



            По всем вопросам: +7 937-778-02-12
            <a class="feature-btn" href="{% url 'reviews'%}">Отзывы</a>
            <a class="feature-btn" href="{% url 'review_add'%}">Добавить отзыв</a>
            <h1>Sup Surf Kazan</h1>
            <div class="image-container">
                <img src='/web/static/surf.jpeg' alt="Фото Казани">
            </div>
            Прокат сап Бордов на АкБарс Арене
            Прокат находится на пирсе АкБарс Арены по адресу: Ямашева 115а/1 на берегу реки Казанки. Отличная идея для свидания или прогулки с друзьями. Вы можете взять сап Борд в надутом состоянии и поплавать удобное для вас время, доплыть до моста Миллениум и обратно — собраться с друзьями и устроить SUP-прогулку живописным заводям реки.

            Подробности и запись на прокат: <h4>https://supsurfkazan.ru/p/prokat-sup/</h4>

            Прогулки по воде и сплавы на сап Бордах
            Прогулка или сплав на сап Бордах большой и дружной компанией в сопровождении инструктора – это отличная идея для любого события, праздника, корпоратива, дня рождения или свидания! Наши маршруты и локации:
            - Голубое озеро
            - Лебяжье озеро
            - Сплав по реке Илеть (протяженность 10 км)
            - Городской маршрут (от АкБарс Арены)
            <a class="feature-btn" href="{% url 'reviews'%}">Отзывы</a>
            <a class="feature-btn" href="{% url 'review_add'%}">Добавить отзыв</a>

        </div>
    </div>
</body>
</html>