<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <style>
        body {
            font-family: 'Courier New', monospace;
            margin: 0;
            padding: 0;
            background-color: #F8F8F7;
        }

        .container {
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;
            margin-top: 100px;
            background-color: #FFF;
            border-radius: 10px;
        }

        h1 {
            text-align: center;
            color: #000;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
            color: #000;
        }

        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: 'Courier New', monospace;
            font-size: 14px;
        }

        button {
            padding: 10px;
            background-color: #F8F8F7;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
        }


    </style>
</head>
<body>
    <div class="container">
        <h1>Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            <label for='id_username'>Имя пользователя:</label>
            <input type="text" name="username" required id="id_username">

            <label for='id_password'>Пароль:</label>
            <input type="password" name="password" required id="id_password">

            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>
