<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Куда сходить?</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            margin: 0 auto;
            background: #FFF;
            display: flex;
            flex-direction: column;
            font-family: 'Courier New', sans-serif;
        }

        .category-line {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            border-bottom: 2px solid #000;
            margin-bottom: 20px;
        }

        .category-title {
            font-size: 56px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .category-blocks {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .category-block {
            width: 30%;
            max-width: calc(30% - 20px);
            height: 150px;
            margin: 20px;
            border-radius: 10px;
            background: #F8F8F7;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #000;
            font-size: 1.25em;
            font-weight: 400;
            font-family: 'Courier New', sans-serif;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="category-line">
            <div class="category-title">Категории</div>
        </div>
        <div class="category-blocks">
            <a class="category-block" href="{%url 'activity'%}">Активный отдых</a>
            <a class="category-block" href="#">Театры</a>
            <a class="category-block" href="#">Музеи</a>
            <a class="category-block" href="#">Кинотеатры</a>
            <a class="category-block" href="#">Спортивные комплексы</a>
            <a class="category-block" href="#">Матчи</a>
            <a class="category-block" href="#">Рестораны и кафе</a>
            <a class="category-block" href="#">Медицинская помощь</a>
            <a class="category-block" href="#">Транспорт</a>
        </div>
    </div>
</body>
</html>
