<!-- profile.html -->
<!-- profile.html -->
<!DOCTYPE html>
{% block content %}
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Здравствуйте, {{ user.username }}!</h1>

        <h2>Настройки профиля</h2>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit" name="user_form_submit">Сохранить изменения</button>
        </form>

        <h2>Смена пароля</h2>
        <form method="post">
            {% csrf_token %}
            {{ password_change_form.as_p }}
            <button type="submit" name="password_change_submit">Сменить пароль</button>
        </form>

        <h2>Отзывы пользователя</h2>
        {% if user_reviews %}
            <ul>
                {% for review in user_reviews %}
                    <li>{{ review.text }} - {{ review.created_at }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Пользователь еще не оставил отзывов.</p>
        {% endif %}
    </div>
{% endblock %}





