<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
</head>
<body>
    <h1>Add Review</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ review_form.as_p }}
        {{ photo_form.as_p }}

        <button type="submit">Submit Review</button>
    </form>

    {% if review_form.errors or photo_form.errors %}
        <p>There was an error in the submitted form. Please correct the errors.</p>
    {% endif %}

    {% if review_form.instance.text %}
        <h2>Your Review:</h2>
        <p>{{ review_form.instance.text }}</p>
        {% if review_form.instance.created_at %}
            <p>Created at: {{ review_form.instance.created_at }}</p>
        {% endif %}
    {% endif %}

    {% if photo_form.instance.image %}
        <h2>Your Photo:</h2>
        <img src="{{ photo_form.instance.image.url }}" alt="Review Photo">
    {% endif %}
</body>
</html>
