<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <h1>All Reviews</h1>

    {% for review in reviews %}
        <div>
            <p>{{ review.text }}</p>
            <p>{{ photo.image }}</p>
            <p>Created at: {{ review.created_at }}</p>
        </div>
        <hr>
    {% endfor %}

    {% if not reviews %}
        <p>Отзывов пока нет!</p>
    {% endif %}
</body>
</html>
